.lp-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #062871 0%, #0052cc 100%);
  padding: 1rem 2rem;
  color: #fff;
  width: 99vw;           /* Ajouté pour élargir sur toute la page */
  box-sizing: border-box;/* Ajouté pour inclure le padding dans la largeur */
  margin-left: 0;        /* Ajouté pour coller à gauche */
  left: 0;
  position: relative;
  overflow-x: hidden;
}

.lp-footer .lp-logo {
  font-size: 1rem;
  font-weight: bold;
  color: #0052cc;
  background:none!important;
  padding: 0.3em 0.8em;
  border-radius: 8px;
  letter-spacing: 2px;
}

.lp-footer .lp-logo img {
  width: 200px; /* ajustez cette valeur selon vos besoins */
  height: auto;
}

.lp-footer nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lp-footer nav ul li {
  font-size: 1.1rem;
  cursor: pointer;
  color: #fff;
  transition: color 0.2s;
}

.lp-footer nav ul li:hover {
  color: #0052cc;
  background: #fff;
  border-radius: 4px;
  padding: 0.2em 0.6em;
}